<div class="icon-product">
    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8" viewBox="0 0 9 8" fill="none">
        <path d="M3.5 0H5.5V8H3.5V0Z" fill="currentColor"/>
        <path d="M0.5 5L0.5 3L8.5 3V5L0.5 5Z" fill="currentColor"/>
    </svg>
</div>