{% for childlink in link.links %}
  <li class="site-nav__dropdown-container site-nav__dropdown-container--second-level">
    {% assign childlink_url = childlink.url %}
    {% if childlink.links != blank %}
    <a href="{{ childlink_url }}" class="link-menu meganav__link meganav__link-toggle site-nav__link-toggle meganav__link--has-list{% if childlink.active %} meganav__link--active{% endif %}" {% if childlink.active %} aria-current="page"{% endif %}>
        {% render 'processMenuTitle' , itemName: childlink.title %}
        {% render 'processMenuLabel' , itemName: childlink.title %}
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="8" viewBox="0 0 8 5" fill="none">
            <path d="M0.94 0L4 3.09042L7.06 0L8 0.951417L4 5L0 0.951417L0.94 0Z"></path>
        </svg>
    </a>
    <div class="site-nav__dropdown--third-level">
      <ul class="meganav__list">
        {% for grandchildlink in childlink.links %}
        <li class="site-nav__dropdown-container site-nav__dropdown-container--third-level">
          <a href="{{ grandchildlink.url }}" class="link-menu meganav__link {% if grandchildlink.active %} meganav__link--active{% endif %}"{% if grandchildlink.active %} aria-current="page"{% endif %}>
            {% render 'processMenuTitle' , itemName: grandchildlink.title %}
            {% render 'processMenuLabel' , itemName: grandchildlink.title %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% else %}
    <a href="{{ childlink_url }}" class="link-menu meganav__link {% if childlink.active %} meganav__link--active{% endif %}"{% if childlink.active %} aria-current="page"{% endif %}>
      {% render 'processMenuTitle' , itemName: childlink.title %}
      {% render 'processMenuLabel' , itemName: childlink.title %}
    </a>
    {% endif %}
  </li>
{% endfor %}
