.banner-text .heading-center.h2 {
  margin: 0 0 17px;
  text-transform: uppercase;
}
.banner-col-3 .banner-text .heading-center.h2 {
  margin: 0 0 20px;
}
.banner-col {
  padding: 0 15px;
}

img.banner-list-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-grid .heading-center.h1 {
  margin: 0;
  line-height: 1.03;
  letter-spacing: -1px;
}
banner-content {
  display: block;
  height: 100%;
}
.banner-image,
.banner-content {
  height: 100%;
}

/* Col FULL */

.banner-grid .col-full {
  padding: 0;
}

.col-full .heading.description {
  margin-bottom: 19px;
}

.col-full .banner-text {
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
}

.col-full .heading-center {
  font-size: 48px;
  line-height: 54px;
  letter-spacing: 0;
  margin-bottom: 35px;
}