/* General */
.article-item {
  flex-direction: column;
  border: 0px solid rgb(var(--border-color));
  border-radius: 0;
}
.article-item__content {
  padding: 0;
  margin: -14px 0 0;
  border-radius: 0;
  position: relative;
  text-align: left;
  transition: all .4s;
}
.article-card__image {
  position: relative;
}
.article-item:hover .article-item__category {
  color: var(--primary) !important;
}
.article-item__content.text-container .h6 {
  margin: 0 0 10px;
  text-transform: none;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
h3.heading.article-item__title {
  margin: 0 auto 14px;
  padding: 0;
}
.article {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 16px;
  padding: 4px 18px;
  border-radius: 20px;
  width: max-content;
  transition: all .4s;
}
.blog-author,
.blog-date ,
.blog-tag {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}
.blog-author {
  position: relative;
}
.article-item__image-container {
  margin: 0;
  border-radius: 5px;
}
.ap-blogcarousel .ap-productlist__inner--scroller {
  justify-content: safe center;
}
.article > span:not(:last-child)::after {
  content: "";
  display: inline-block;
  margin: 0 7px 0 5px;
  width: 1px;
  height: 9px;
  background-color: var(--color-accent-3);
  rotate: 15deg;
}

@media (min-width: 768px) {
  .article {
    margin-left: 30px;
  }
}
@media (min-width: 992px) {
  .ap-listarticle--collage {
    grid-template-columns: repeat(3, 1fr);
  }
}


/* ARTICLE RIGHT */
.article-right .article-item__image-container {
  width: 122px;
  height: 84px;
  border-radius: 20px;
}
.article-right .article-item {
  border: none;
  border-radius: 0;
}
.article-right {
  border: 1px solid rgb(var(--border-color));
  border-radius: 20px;
}
.article-right .article-item__content {
  flex: 1;
}
.article-right h3.article-item__title.heading.p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}