.link--faded {
  color: var(--text-link);
}

.link--faded:hover {
  color: var(--primary_hover);
}

.footer__item-title.heading.p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}


.footer__item-content p a {
  text-decoration: none;
  color: rgb(var(--heading-color));
}

.footer__item-content p a:hover {
  color: var(--primary);
}

.footer__item-content-list {
  display: flex;
  margin: 0 0 20px;
}

.footer__item-content img {
  margin-bottom: 31px;
}

.footer__inner {
  overflow: hidden;
}

.content-2 h5 {
  font-size: 28px;
  line-height: 1;
  padding-bottom: 0;
  font-family: var(--hd-font-family);
  margin: 0;
}

.footer .social-media__link {
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 400;
  background-color: transparent;
  color: rgb(var(--color-body));
  width: 20px;
  height: 20px;
}

.footer .social-media {
  flex-direction: row;
  align-items: start;
  gap: 20px;
  margin: 0;
}

.footer .text-center .social-media {
  justify-content: center;
}

.footer .text-right .social-media {
  justify-content: end;
}

.text-center .footer__image {
  margin-left: auto;
  margin-right: auto;
}

.text-right .footer__image {
  margin-left: auto;
}

.footer .social-media__item {
  margin: 0;
  box-shadow: none;
}

.footer__item-list {
  gap: 0;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 0;
}

.footer .social-media__link svg.icon {
  display: block;
}

.footer .social-media__item:before {
  display: none;
}

.footer .text-social {
  display: none;
}

.footer .linklist__item a {
  line-height: 32px;
  position: relative;
  z-index: 9;    
}

.footer__item-content svg {
  width: 16px;
  height: 16px;
}

.footer__item-content span {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 10px;
  line-height: 20px;
}

.footer__item-content {
  color: rgb(var(--color-body));
}

.footer__item-content:not(:last-child) {
  margin: 0 0 13px;
}

.footer .logo-footer.footer__item-title {
  margin-bottom: 30px;
  padding: 0;
}

/* NEWSLETTER */

.footer .wp-newsletter-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  gap: 10px;
}

.footer .button-newsletter > .ap-text-loaderbutton {
  padding: 0 6px;
}

.footer .ap-text-loaderbutton {
  flex-direction: row;
  gap: 7px;
  line-height: 1;
}

.footer .input__field {
  padding: 0 20px;
}

.footer .input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 0;
  flex: 1;
}

.input-icon svg {
  width: 27px;
  height: 27px;
}

.input-mail {
  width: 100%;
}

.footer .input__label {
  left: 20px;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
}

.js .no-focus-outline *:focus {
  box-shadow: none;
}

.footer .button-newsletter {
  font-size: 14px;
  letter-spacing: 2px;
  padding: 0 20px;
  font-family: var(--hd-font-family);
  font-weight: 600;
  border: none;
  position: relative;
  height: var(--form-input-field-height);
}

.footer-description {
  margin-bottom: 20px;
  margin-top: 0 !important;
}

.footer__item-title {
  color: rgb(var(--heading-color));
}

.footer__item-title.sub-heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 24px;
  font-weight: 700;
}

.text-right .footer__item-menu {
  justify-content: end;
}

.text-center .footer__item-menu {
  justify-content: center;
}

/* END  */
@media (max-width: 1300px) {
  .footer__item-list > div:first-child {
    padding-right: 15px;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .footer__item-list > div:first-child {
    border: none;
  }
}

@media (max-width: 767px) {
  .footer__item-content {
    padding: 0;
  }
  .footer__item-content img,
  .logo-footer .footer__image {
    margin: auto !important;
  }
  .footer__item {
    width: 100%;
    text-align: center !important;
  }
  .footer__inner {
    padding: 60px 0;
  }
  .footer__image {
    margin: auto !important;
  }
  .footer .social-media ,
  .footer__item-content span {
    justify-content: center;
  }
  .footer__item-content-list {
    flex-direction: column;
    gap: 15px;
  }
  .footer__item-content-text {
    padding-left: 0;
  }
  .footer-item__1 .footer__item-content p {
    padding: 0;
  }
}

@media (max-width: 380px) {
  .footer .input-row {
    width: 100%;
  }
  .footer .button-newsletter {
    padding: 0;
  }
}