.header_wrapper {
  /* position: relative; */
  align-items: center;
  border-top: 0px solid var(--header-border-color);
  border-bottom: 0px solid var(--header-border-color);
}

.user,
.header {
  position: relative;
}

.user-block {
  width: 12rem;
  z-index: 999;
  background-color: #fff;
  color: #666;
  padding: 1rem;
  position: absolute;
  font-size: 14px;
  top: 100%;
  right: 0;
  border: 0.1rem solid #eaeaea;
  box-shadow: 0 0 3rem #0000000d;
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
  margin: 0;
}

.user:hover .user-block {
  opacity: 1;
  visibility: visible;
  top: 100%;
  display: block;
}

.user-icon {
  cursor: pointer;
}

.user-block a:hover {
  color: var(--primary);
}

.mega-menu__inner {
  padding-top: 30px;
}

.header-1 .tap-area:before {
  display: none;
}


@media (min-width: 1200px) {
  ul.header__linklist {
    justify-content: center;
  }
  .header__logo {
    flex: 0 1;
  }
  .header__inline-wrapper {
    flex: 1;
  }
  .header__secondary-links {
    flex: 0 1;
  }
  .header-1 .header__icon-list {
    width: 100%;
    justify-content: end;
    display: flex;
  }
  .header-icon {
    flex: none;
  }
}
@media (max-width: 1500px) {
  .header__inline-wrapper {
    margin-left: 30px;
  }
  .header-custom_content {
    display: none;
  }
}
@media (max-width: 1199px) {
  .header__inline-wrapper,
  .header__logo,
  .header__secondary-links {
    width: 33.333%;
  }
  .header__inline-wrapper {
    order: 0;
    margin: 0;
  }
  .header__logo {
    order: 1;
  }
  .header__secondary-links {
    order: 2;
    padding-right: 15px;
  }
  button.mobile-nav__link,
  .vertical-nav__link-1,
  .header__linklist-link {
    padding: 14px 0;
  }
  .header__icon-wrapper {
    display: flex;
    align-items: center;
    line-height: 1;
  }
  .header_wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header__logo-image {
    margin: auto;
  }
}

@media (max-width: 576px) {
  .header_wrapper {
    padding: 15px 0 15px;
  }
  .header__icon-menu,
  .header__secondary-links {
    order: 1;
  }
  .header__logo {
    order: 0;
    width: 100%;
    flex: unset;
  }
  .header_wrapper-row {
    flex-wrap: wrap;
  }
  .header__secondary-links {
    padding: 0;
  }
  .header_wrapper {
    flex-wrap: wrap;
    gap: 15px 0;
  }
  .menu-vertical {
    flex: 1;
    width: 100%;
    order: 9;
  }
  .vertical-title {
    justify-content: space-between;
  }
  .menu-vertical_btn {
    width: 100%;
  }
  .header-menu-bar {
    flex: 1;
    order: 1;
  }
}
