.contact-row {
  display: flex;
}
.contact-content,
.contact-form {
  width: 50%;
}
.contact-form {
  padding: 40px;
  background-color: #fff;
  margin: 0;
  text-align: left;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.contact-content {
  margin: 0;
  text-align: left;
  padding-right: 30px;
}
@media (min-width: 1200px) {
  .contact-content {
    padding-right: 120px;
  }
}
.contact-form .isolate {
  text-align: left;
}
.contact-form .field__input {
  width: 100%;
  border: 1px solid rgb(var(--border-color));
  color: var(--color-accent-3);
  padding: 15px 20px;
  border-radius: 8px;
}
.contact__fields {
  display: flex;
  gap: 20px;
}
.contact__fields .field {
  width: 50%;
}
.contact-form-title {
  font-size: 34px;
  margin: 0 0 10px;
  line-height: 1.2;
  color: var(--color-accent-1);
}
.contact-form-description {
  margin: 0 0 30px;
  color: rgb(var(--color-body));
}
.contact-form .isolate .field {
  margin: 0 0 20px;
}
.contact-form .field__input::placeholder {
  color: var(--color-accent-3);
}
textarea#ContactForm-body:focus {
  outline: 2px dotted;
  outline-offset: 2px;
}
.contact__button {
  text-align: center;
}
.cc-info-icon svg {
  width: 60px;
  height: 60px;
}
.cc-info-item {
  display: flex;
  gap: 20px;
  margin: 0 0 36px;
}
.cc-info-text h6.h6 {
  font-weight: 500;
}

@media (max-width: 767px) {
  .contact-content {
    padding-right: 0;
  }
  .contact-row {
    flex-direction: column;
    gap: 30px;
  }
  .contact-content {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .cc-info-item {
    gap: 10px;
    flex-direction: column;
  }
  .contact-content,
  .contact-form {
    width: 100%;
  }
  .contact-form {
    padding: 60px 15px 60px;
    margin: 0;
  }
  .contact-form-title {
    font-size: 32px;
    margin: 25px 0 15px;
  }
}
