h2.heading.heading--large {
  font-size: 200px;
  width: max-content;
  line-height: 180px;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.rich-text .content-box {
  width: 100%;
  position: relative;
}
.section-rich-text {
  margin: 0;
}
h2.heading.heading--nomal {
  font-size: 54px;
  line-height: 1;
  max-width: 830px;
  margin: 0 auto 40px;
  text-transform: uppercase;
}
.rich-text__buttons a.button.btn-base-2 {
  margin: auto;
}
.rich-text h3.heading.h2 {
  margin-bottom: 39px;
}
.rich-text .content-box--text-center h3.heading.h2 {
  margin-left: auto;
  margin-right: auto;
}
.rich-text .heading--small {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 34px;
  font-family: var(--hd-font-family);
  text-transform: none;
  letter-spacing: 0;
}
.content-box > p {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}
.rich-text-list {
  max-width: 1070px;
  margin: auto;
}
.rich-text-list p {
  font-size: 18px;
  margin: 0 0 50px;
}
.rich-text-image img {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.content-box--text-center .rich-text-image img {
  margin-left: auto;
  margin-right: auto;
}
.content-box--text-right .rich-text-image img {
  margin-left: auto;
}
.content-box--text-center .rt-info {
  justify-content: center;
}
.content-box--text-right .rt-info {
  justify-content: end;
}

/* INFO */
.rt-info_img {
  width: 80px;
  height: 80px;
}

/* FLASH SALE */
.flash-sale {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 14px;
  line-height: 22px;
  flex-wrap: wrap;
}
.flash-sale_title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--hd-font-family);
}

@media (max-width: 1199px) {
  .rich-text-list {
    transform: none;
  }
}

@media (max-width: 480px) {
  h2.heading.heading--nomal {
    font-size: 35px;
  }
}
